apiVersion: serving.kserve.io/v1alpha1
kind: InferenceGraph
metadata:
  name: ${GRAPH_NAME}
  namespace: ${NAMESPACE}
spec:
  nodes:
    root:
      routerType: Sequence
      steps:
        - serviceName: comp1
        - serviceName: comp2
          data: "$response"