apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: ${COMPONENT}
  namespace: kubeflow
spec:
  predictor:
    containers:
      - name: ${COMPONENT}
        image: ${REPOSITORY}/${IMG}:${TAG}
